body {
    background: #141414;
    height: 1000vh;
    overflow: hidden;
    font-family: 'Khand', sans-serif;
}

div#heightHolder {
    height: 100vh;
    display: none;
}
/*Terminal*/

div#terminal {
    min-width: 250px;
    min-height: 100px;
    position: relative;
    margin: auto;
    top: 300px;
    height: 40vh;
    width: 600px;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    overflow: hidden;
    background: #2C001E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
}

#fileBar {
    width: 100%;
    height: 6%;
    color: white;
    position: relative;
    -webkit-user-select: none;
    text-align: center;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(100%, #404040));
    background: -moz-linear-gradient(top, #A9A9A9 0%, #333333 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fileBar span {
    padding-left: 10px;
    cursor: default;
}

#terminalInput {
    color: white;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    width: 70%;
}

#terminalOutput {
    height: 94%;
    padding-left: 2px;
    width: 103%;
    overflow-y: scroll;
    color: white;
    position: relative;
}
/*End terminal*/

div#parallax-bg-1 {
    position: fixed;
    z-index: 1;
}
/*Parallax settings*/

div#parallax-bg-1 div {
    position: relative;
}

div#parallax-bg-2 {
    position: fixed;
    z-index: 2;
}

div#parallax-bg-2 div {
    position: absolute;
}

div#parallax-bg-3 {
    position: fixed;
    z-index: 3;
}

div#parallax-bg-3 div {
    position: absolute;
}
/*end parallax settings*/
/*Cubes*/

.cube {
    background: url('http://icons.iconarchive.com/icons/tatice/cristal-intense/256/Rubiks-cube-icon.png');
    text-align: center;
    width: 256px;
    height: 256px;
}

div#cube {
    top: 200vh;
    left: 60vw;
}

div#cubeText {
    opacity: 1;
    z-index: -1;
    top: 75px;
    overflow: hidden;
    height: 50px !important;
    width: 180px !important;
    position: absolute;
    background: aquamarine;
    left: 29px !important;
    transition: all 1s ease;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div#cube:hover div#cubeText {
    opacity: 1;
    height: 190px !important;
    transform: translateY(90px);
}

div#cube2 {
    top: 160vh;
    left: 50vw;
}

div#cube3 {
    top: 105vh;
    left: 70vw;
}
/*End cubes*/
/*Motorcycles*/

div#motorcycle {
    background: url('http://www.clker.com/cliparts/k/4/0/f/7/7/high-resolution-gear-md.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    width: 256px;
    height: 256px;
    top: 380vh;
    left: 40vw;
}

div#motorcycle:hover ~ div#motorcycle2 {
    transform: translateX(80vh) rotate(180deg);
}

div#motorcycle:hover ~ div#motorcycleText {
    transform: translateX(80vh);
}

div#motorcycle2 {
    background: url('http://www.clker.com/cliparts/k/4/0/f/7/7/high-resolution-gear-md.png');
    background-size: 350px 350px;
    top: 378vh;
    width: 350px;
    height: 350px;
    left: -50vh;
    transition: all 1s ease;
}

div#motorcycleText {
    text-align: center;
    top: 386vh;
    width: 225px;
    height: 225px;
    margin: auto;
    left: -42vh;
    border-radius: 50%;
    transition: all 1s ease;
}
/*End motorcycles*/
/*Diving*/

div#diving {
    background: url('diving.png');
    background-size: 350px 350px;
    top: 550vh;
    left: 60vw;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
/*End diving*/

@keyframes flipInX {
    0% {
        transform: translate3d(0px, -300px, 0px);
    }
    100% {
        transform: translate3d(0px, 80px, 0px);
    }
}
/*@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) rotateY(30deg) rotate(340deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) rotateY(30deg) rotate(340deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg) rotateY(30deg) rotate(340deg);
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) rotateY(30deg) rotate(340deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotateY(30deg) rotate(340deg);
        -webkit-transform: perspective(400px) rotateY(30deg) rotate(340deg);
        transform: perspective(400px) rotateY(30deg) rotate(340deg);
    }
}*/