body {
    height: 2000vh;
    font-family: 'Khand', sans-serif;
    overflow: hidden;
}

html {
    background: #141414;
}

#mediaWarning {
    display: none;
    color: white;
    text-align: center;
    position: relative;
    text-align: center;
    top: 40vh;
}

@media screen and (max-width: 750px) {
    #fullPage {
        display: none;
    }
    #mediaWarning {
        display: block;
    }
}

#mobilePage {
    color: white;
    height: auto;
    display: none;
}

div#heightHolder {
    height: 100vh;
    display: none;
}
/*Terminal*/

div#terminal {
    min-width: 250px;
    min-height: 100px;
    position: relative;
    margin: auto;
    top: 300px;
    height: 40vh;
    width: 600px;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    overflow: hidden;
    background: #2C001E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
}

#fileBar {
    width: 100%;
    height: 20px;
    color: white;
    position: relative;
    -webkit-user-select: none;
    text-align: center;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(100%, #404040));
    background: -moz-linear-gradient(top, #A9A9A9 0%, #333333 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fileBar span {
    padding-left: 10px;
    cursor: default;
}

#terminalInput {
    color: white;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    width: 70%;
}

#terminalOutput {
    height: 94%;
    padding-left: 2px;
    width: 103%;
    overflow-y: scroll;
    line-height: 18px;
    color: white;
    position: relative;
}
/*End terminal*/

div#cube3-parallax {
    position: fixed;
    z-index: 1;
}
/*Parallax settings*/

div#cube3-parallax div {
    position: relative;
}

div#cube2-parallax {
    position: fixed;
    z-index: 2;
}

div#cube2-parallax div {
    position: absolute;
}

div#cube-parallax {
    position: fixed;
    z-index: 3;
}

div#cube-parallax div {
    position: absolute;
}
/*end parallax settings*/
/*Cubes*/

.cube {
    background: url('http://icons.iconarchive.com/icons/tatice/cristal-intense/256/Rubiks-cube-icon.png');
    text-align: center;
    width: 256px;
    height: 256px;
}

div#cube {
    top: 120vh;
    left: 60vw;
}

div#cubeText {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: -1;
    top: 75px;
    overflow: hidden;
    height: 50px !important;
    width: 180px !important;
    position: absolute;
    background: aquamarine;
    left: 29px !important;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cube:hover div#cubeText {
    opacity: 1;
    filter: alpha(opacity=100);
    height: 200px !important;
    -webkit-transform: translateY(90px);
    -ms-transform: translateY(90px);
    transform: translateY(90px);
}

div#cube2 {
    top: 130vh;
    left: 50vw;
}

div#cube3 {
    top: 115vh;
    left: 70vw;
}
/*End cubes*/
/*Motorcycles*/

div#motorcycle {
    background: url('http://www.clker.com/cliparts/k/4/0/f/7/7/high-resolution-gear-md.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    position: absolute;
    width: 256px;
    height: 256px;
    top: 220vh;
    left: 40vw;
    opacity: 0;
}

div#motorcycle:hover ~ div#motorcycle2 {
    -webkit-transform: translateX(80vh) rotate(180deg);
    -ms-transform: translateX(80vh) rotate(180deg);
    transform: translateX(80vh) rotate(180deg);
}

div#motorcycle:hover ~ div#motorcycleText {
    -webkit-transform: translateX(80vh);
    -ms-transform: translateX(80vh);
    transform: translateX(80vh);
}

div#motorcycle2 {
    background: url('http://www.clker.com/cliparts/k/4/0/f/7/7/high-resolution-gear-md.png');
    background-size: 350px 350px;
    top: 220vh;
    width: 350px;
    height: 350px;
    left: -50vh;
    position: absolute;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

div#motorcycleText {
    text-align: center;
    top: 220vh;
    position: absolute;
    width: 350px;
    height: 350px;
    margin: auto;
    left: -50vh;
    border-radius: 50%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*End motorcycles*/
/*Diving*/

div#divingWrap {
    position: absolute;
    top: 350vh;
    left: 60vw;
}

div#diving {
    position: absolute;
    background: url('diving.png');
    background-size: 350px 350px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 1;
}

div#diveText {
    height: 220px;
    width: 220px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

div#diveText2 {
    left: 100px;
    height: 80px;
    width: 80px;
}

div#diveText3 {
    left: 30px;
    height: 90px;
    width: 90px;
}

.dive {
    background: white;
    border-radius: 50%;
    text-align: center;
    z-index: 0;
    opacity: 0.5;
    position: absolute !important;
}

@keyframes greenPulse {
    0% {
        box-shadow: 0 0 30px #4bbec8
    }
    50% {
        box-shadow: 0 0 80px #4bbec8
    }
    100% {
        box-shadow: 0 0 30px #4bbec8
    }
}

.dive:hover {
    animation: bubbleUp .15s ease;
    -webkit-animation: bubbleUp .15s ease;
    -moz-animation: bubbleUp .15s ease;
    -o-animation: bubbleUp .15s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes bubbleUp {
    0% {
        -webkit-transform: scale(1);
        opacity: .5
    }
    96% {
        -webkit-transform: scale(1.2);
        opacity: .5
    }
    97% {
        -webkit-transform: scale(0);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}
/*End diving*/
/*Projects*/

div#project {
    position: absolute;
    top: 410vh;
    height: 80vh;
    width: 60vh;
    background: mintcream;
    left: 50px;
    padding: 10px;
    padding-top: 3px;
    -webkit-box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
}

div#project h1 {
    text-align: center;
    font-size: 60px;
    line-height: 10px;
}

div#project h2 {
    line-height: 15px;
}

div#project footer {
    bottom: 5px;
    position: absolute;
}
/*End projects*/
/*Thank you*/

div#thankYou {
    position: absolute;
    top: 500vh;
    padding-top: 60px;
}

img#mainPicture {
    border-radius: 50%;
    left: 40vh;
    height: 250px;
    opacity: 1;
    display: inline;
    position: absolute;
    -webkit-box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 3px 2px 26px 3px rgba(0, 0, 0, 0.48);
}

div#thankYou h1 {
    display: inline;
    left: 45vw;
    height: auto;
    position: relative;
    width: 150px;
    font-size: 50px;
    text-align: center;
}

div#thankYou p {
    left: 45vw;
    position: relative;
    line-height: 50px;
    font-size: 18px;
    width: 50vw;
    font-weight: 200;
}
/*End thank you*/